@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes desplazar{
from{
    transform: translateY(-200%);
}
to{
    transform: translateX(0);
}
}

:root {
    --dark: #222831;
    --dark-light: #31363F;
    --aqua-gray: #5755FE;
    --pastel: #EEEEEE;

    --white-gray: #F8F6F4;
    --dark-whiteGray: #FAF7F0;
  
    --yellow: #FCDB00;
    --green: #CCEC41;
    --aqua: #028ECB;
    --red: #F2080B;

    --blanco: #ffffff;
    --gris-1: #D9D9D9;
    --gris-2: #878682;
    --gris-3: #222222;
  
    --font-weight-title1: 800;
    --font-weight-title2: 600;
    --font-weight-title3: 500;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
  }

*{
    font-family:"IBM Plex Mono", "Roboto Mono", monospace ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.letters{
    color: var(--dark);
}

.borderBar{
    stroke: var(--dark);
}

h1{
    font-weight: var(--font-weight-title1);
    color: var(--pastel);
}

h2{
    font-weight: var(--font-weight-title2);
    color: var(--pastel);
}

h3{
    font-weight: var(--font-weight-title3);
    color: var(--pastel);
}

h4{
    font-weight: var(--font-weight-title3);
    color: var(--pastel);
}

p{
    font-weight: var(--font-weight-text1);
    color: var(--pastel);
}

b{
    font-weight: var(--font-weight-text2);
    color: var(--aqua-gray);
}

a{
    text-decoration: none;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
    display: none;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    
}

/*//////////// first page //////////////*/

.one, .two, .three, .four{
background-color: var(--dark-light);
}

.-whiteMode{
    background-color: var(--white-gray);
}

.main, .main-two, .main-message{
    padding: 0.8em;
    box-shadow: 0px -2px 13px 3px var(--aqua-gray);
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0%;
    width: 100%;
    height: 90%;
    background-color: var(--dark);
}

.mainMode{
    background-color: var(--dark-whiteGray);
}

.main header{
    padding: 0.5em;
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main header h1{
    border-bottom: solid var(--aqua-gray);
    animation: desplazar
    .8s ease;
}

.icons{
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.icons div{
    margin: 0.5em;
    width: 2em;
    height: 2em;
}

.icons svg{
    width: 100%;
    height: 100%;
}

.icon{
    cursor: pointer;
    transition: filter 0.3s ease;
}

.icon:hover{
    filter: brightness(30%);
}

.iconMode{
    stroke: var(--dark);
}

.bars__menu {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: relative;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--pastel);
    margin: 0.25em 0;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}

.mode span{
    background-color: var(--dark);
}

.menuShift--content{
    display: none;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease, opacity 0.5s ease;
}

.menuShift--content.show {
    display: flex;
}

.animate{
    padding: 0.5em;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
}

.btn{
    border-bottom: solid var(--aqua-gray);
    color: var(--aqua-gray);
    margin-bottom: 1em;
    cursor: pointer;
    transition: filter 0.3s ease;  
}

.btn:hover{
    filter:drop-shadow(16px 16px 20px red) invert(75%);
}

.content{
    margin: 0.5em;
    display: flex;
    height: 60%;
    flex-direction: column;
}

.content h3{
    margin-bottom: 0.5em;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.content p {
    margin: 0.5em 0px;
    transition: transform 0.6s ease, opacity 0.5s ease;
}

.hidden {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
}

.find{
    border-bottom: solid 2px var(--aqua-gray);
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.redes{
    margin-left: 0.8em;
}

.redes-icon{
    margin: 0.1em;
    transition: filter 0.3s ease;  
}

.redes-icon path{
    stroke: var(--aqua-gray);
}

.redes-icon:hover{
    filter:drop-shadow(16px 16px 20px red) invert(75%);
}

/*///////// second page /////////////*/

.main-two{
    display: flex;
    flex-direction: column;
}

.main-two div{
    display: flex;
    flex-direction: row;
}

.knowledge-container div{
    display: flex;
    flex-direction: column;
}

.knowledge-container div h2{
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.main-two h1{
    margin: 0.5em auto 0.5em 0.5em;
}

.bar-container{
    display: flex;
    height: 2.7em;
    align-items: center;
    margin-bottom: 0.8em;
}

.bar-container svg{
    width: 80%
}

.rect-1 {
    rx: 10;
    stroke: var(--pastel);
    stroke-width: 6;
    shape-rendering: crispEdges;
}

.borderBar{
    stroke: var(--dark);
}

.rect-2 {
    rx: 10;
    fill: var(--aqua-gray);
}


/*////////// third ////////////////*/


/*/////////// four ////////////////*/

.message-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5em;
}

.message-title h1{
    color: var(--aqua-gray);
}

.message-title p{
    text-align: center;
}

.email, .name, .message-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-message input{
    color: var(--aqua-gray);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--pastel);
    transition: border-color 0.8s;
    outline: none; 
    width: 100%;
}

.main-message input::placeholder{
    color: var(--aqua-gray);
}

.main-message input:focus, .message-text textarea:focus{
    border-color: var(--aqua-gray);

}

.message-inputs{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: center;
}

.message-inputs h3{
margin: 1em;
}

.message-inputs div{
    margin: 1em;
    display: flex;
    justify-content: space-around;
}

.message-text textarea{
    color: var(--aqua-gray);
    resize: none;
    border: none;
    outline: none;
    overflow-y: auto;
    height: 3em;
    width: 70%;
    background-color: transparent;
    border-bottom: solid 2px var(--pastel);
}
.container-btnMessage{
    display: flex;
    justify-content: center;
}

.btn-message{
    padding: 10px 20px;
    background-image: linear-gradient(to right, #fbfbfb, #0056b3); /* Gradiente de color de izquierda a derecha */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-position 2s ease; /* Transición para el desplazamiento del color */
    background-size: 200% 100%;
}

.btn-message:hover{
    background-position: right;
}


.inactive{
    display: none;
}
